* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Nunito', sans-serif;
}

section {
  box-shadow: 0 0 30px 1px rgba(128, 128, 128, 0.603);
  margin: 140px auto 0px auto;
  width: 1300px;
  border-radius: 7px;

}

section h1 {
  position: relative;
  bottom: 60px;
  width: fit-content;
  margin: auto;
  font-weight: 900;
  font-size: 30px;
}

img {
  width: 250px;
  transition: 0.2s;
  opacity: 0.8;
}

img:hover {
  transform: scale(1.1);
  opacity: 1;

}

.Parent-cards {
  display: flex;
  justify-content: center;
  gap: 35px;
  font-weight: 600;
  margin: -44px 2px;
  padding: 24px 2px 40px 2px;
}

.img-title {
  text-align: center;
}

.img-title p {
  margin-bottom: 5px;
}

.img-title button {
  padding: 3px 10px;
  margin-right: 8px;
  border-radius: 3px;
  border: none;
  color: #000000bd;
  border-color: #7e7d7d26;
  transition: 0.1s;
}

.section2 {
  margin-top: 130px !important;
}

div .fa-cart-arrow-down {
  position: fixed;
  left: 1270px;
  top: 60px;
  border-bottom: 4px solid;
  font-size: 25px;
  text-align: center;
  width: 50px;
  border-radius: 7px;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.4s;
}

div .fa-cart-arrow-down:hover {
  font-size: 26px;
}

.buttunAktive {
  background-color: #41ab61d8;
  color: rgb(255 255 255) !important;
}

.basariylaEklendi {
  position: fixed;
  top: 0;
  left: 45%;
  z-index: 5;
  width: fit-content;
  margin: 20px auto;
  background-color: #69c169;
  font-size: 23px;
  padding: 6px 20px;
  border-radius: 4px;
  color: white;
  animation: upDown 2s forwards;
  transform: translateX(900px);


}

@keyframes upDown {
  0% {
    transform: translateY(-60px);
  }

  50% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(100px);
    transform: translateX(900px);


  }

}

button:disabled {
  opacity: 0.6;
}

#sepetSayfasi {
  position: fixed;
  background-color: #ffffffeb;
  top: -140px;
  left: 1360px;
  right: 0;
  bottom: 0;
  width: 563px;
  transition: 0.4s;
  overflow: scroll;
}


.img-title2{

  display: flex;
  width: 518px;
  box-shadow: 0 0 10px -1px #afa5a5;
  border-radius: 9px;
  padding: 2px 22px;
  margin: 0 0 6px 16px;
  transition: all 0.3s;

}
.conttt {

  display: flex;
  /* margin: -11px 8px; */
  /* align-items: center; */
  width: 300px; 
}

.conttt>img {
  width: 80px;
}

.conttt>p {

  font-size: 13px;
  margin-top: 18px;
  margin-left: 17px;
  height: fit-content;

}


.kargoGunu {

  font-size: 11px;
  color: orange;
  position: relative;
  top: 35px;
  right: 191px;
  width: 109px;
  height: fit-content;

}

.others-item {
  display: flex;
  margin-left: -79px;
  gap: 12px;
  align-items: center;
}
.others-item input {
  width: 40px;
  height: 30px;
  padding-left: 2px;
  font-size: 18px;

}

.trashIcon{
  margin-left: 19px;
  font-size: 16px;
  transition: all 0.1s;
}
.trashIcon:hover {
color: rgba(224, 32, 32, 0.815);
cursor: pointer;
}


.product {
  border-radius: 10px;
}

.close-title {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin: 10px 16px;
  padding: 0 49px 0 0;

}

.fa-arrow-down {
  font-size: 10px;
}

.fa-xmark {
  transition: all 0.2s;
}

.fa-xmark:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

.siparisOzeti {
  margin: 95px 20px 50px;

}

.siparisOzeti h1 {
  margin: -16px -1px -55px;

}

#sepetSayfasi>div.siparisOzeti>span:nth-child(3),
#sepetSayfasi>div.siparisOzeti>span:nth-child(5) {
  position: relative;
  bottom: 20px;
  left: 164px;
}

.siparisOzeti>div {
  margin-top: -17px;
}

#toplam {
  margin-top: 10px;
  font-size: 26px;
  color: rgb(1, 177, 1);
}
