* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}
.h1{
  text-align: center;
}
.section1,
.section2 {
  margin: 2rem auto;
  width: 100%;
  border-radius: 7px;
}

section h1 {
  position: relative;
  bottom: 60px;
  width: fit-content;
  margin: auto;
  font-weight: 900;
  font-size: 30px;
}

img {
  width: 250px;
  transition: 0.2s;
  opacity: 0.8;
}

img:hover {
  transform: scale(1.1);
  opacity: 1;
}

.Parent-cards {
  display: flex;
  box-shadow: 0 0 30px 1px rgba(128, 128, 128, 0.603);
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  gap: 35px;
  font-weight: 600;
  margin: auto;
  padding: 24px 2px 40px 2px;
}

.img-title {
  text-align: center;
}

.img-title p {
  margin-bottom: 5px;
}

.img-title button {
  padding: 3px 10px;
  margin-right: 8px;
  border-radius: 3px;
  border: none;
  color: #000000bd;
  border-color: #7e7d7d26;
  transition: 0.1s;
}

.section2 {
  margin-top: 130px !important;
}

#sepetIcon {
  position: relative;
  top: 2rem;
  font-size: 25px;
  text-align: end;
  width: 100%;
  padding-right: 2rem;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.4s;
}

div .fa-cart-arrow-down:hover {
  font-size: 26px;
}

.buttunAktive {
  background-color: #41ab61d8;
  color: rgb(255 255 255) !important;
}

.basariylaEklendi {
  position: fixed;
  top: 0;
  left: 45%;
  z-index: 5;
  width: fit-content;
  margin: 20px auto;
  background-color: #69c169;
  font-size: 23px;
  padding: 6px 20px;
  border-radius: 4px;
  color: white;
  animation: upDown 2s forwards;
  transform: translateX(900px);
}

@keyframes upDown {
  0% {
    transform: translateY(-60px);
  }

  50% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(100px);
    transform: translateX(900px);
  }
}
button:disabled {
  opacity: 0.6;
}

/*   ##########  SEPPET SAYFASI  ##########   */
#sepetSayfasi {
  position: fixed;
  background-color: #ffffffeb;
  top: 0px;
  right: -70rem;
  bottom: 0;
  width: 563px;
  transition: 0.4s;
  overflow: scroll;
}

.img-title2 {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px -1px #afa5a5;
  border-radius: 9px;
  padding: 5px 10px;
  padding-right: 2rem;
  margin: 0 0 6px 16px;
  transition: all 0.3s;
}

.conttt {
  gap: 10px;
  display: flex;
  align-items: center;
  padding: 0 3px;
}

.kargoGunu {
  width: fit-content;
}

.conttt > img {
  width: 80px;
}

.conttt p {
  font-size: 13px;
  width: 12rem;
}

.kargoGunu {
  font-size: 11px;
  color: orange;
  margin-top: 2px;
}

.others-item {
  display: flex;
  gap: 12px;
  align-items: center;
}

.others-item input {
  width: 40px;
  height: 30px;
  padding-left: 2px;
  font-size: 18px;
}

.trashIcon {
  margin-left: 19px;
  font-size: 16px;
  transition: all 0.1s;
}

.trashIcon:hover {
  color: rgba(224, 32, 32, 0.815);
  cursor: pointer;
}

.product {
  border-radius: 10px;
}

.close-title {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin: 10px 16px;
  padding: 0 49px 0 0;
}

.fa-arrow-down {
  font-size: 10px;
}

.fa-xmark {
  transition: all 0.2s;
}

.fa-xmark:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

.siparisOzeti {
  margin: 95px 20px 50px;
}

.siparisOzeti h1 {
  margin: -16px -1px -55px;
}

#sepetSayfasi > div.siparisOzeti > span:nth-child(3),
#sepetSayfasi > div.siparisOzeti > span:nth-child(5) {
  position: relative;
  bottom: 20px;
  left: 164px;
}

.siparisOzeti > div {
  margin-top: -17px;
}

#toplam {
  margin-top: 10px;
  font-size: 26px;
  color: rgb(1, 177, 1);
}

/* END */
.mobScrSeptIcon {
  display: none;
}
.mobleScrSepSayfa {
  display: none;
}
